.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #cfaa90;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(66, 9, 9);
}

.App-link {
  color: rgb(66, 9, 9);
}

.myHeading
{
  color:blue;
  font-size: xx-large;
  text-align: center;
}
.p1{
  color: rgb(231, 66, 66);
  text-align: left;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 5px solid black;
  margin: 10px ;
  padding: 20px;
}
.p2{
  text-align: left;
  font-size: x-large;
  border: 5px solid black;
  margin: 10px;
  padding: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.h1{
   color:blue;
  font-size: xx-large;
  text-align: left;
  margin:10px;
  padding:30px;

}

.header{
  margin:5px;
  padding: 15px;
}

.section{
  margin:5px;
  padding: 15px;
}

.h4{
  padding: 10px;
  margin: 10px;
}